@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  height: 100%;
  letter-spacing: 0.1px;
}

a {
  text-decoration: none;
}

/* header */
.header-main {
  border-bottom: 1px solid #00000021;
  padding: 15px;
}

.nav-menu {
  gap: 2rem;
  width: 60%;
}

.nav-link {
  color: black;
  font-size: 15px;
  font-weight: 500;
}

a:hover {
  color: #5CA946;
  text-decoration: none;
}

.nav-box {
  width: 20%;
  gap: 1rem;
}

.nav-icon {
  gap: 1rem;
}

.badge {
  position: absolute;
  bottom: 15px;
  background-color: #5CA946;
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
  margin-left: -5px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.service-icon {
  color: #5CA946;
  font-weight: 100px;
}

.service-text {
  font-size: 15px;
  font-weight: 400;
}

.navbar-toggler {
  border: none !important;
}


/* banner */
.card-img {
  height: 500px;
}

.card-button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  background-color: #5ca946;
  color: white;
}

.slider-button {
  position: absolute;
  top: 65%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  background-color: #5ca946;
  color: white;
  text-align: center;
}

.slider-text {
  position: absolute;
  top: 45%;
  left: 15%;
  font-size: 15px;
  color: #5ca946;
  font-size: 32px;
  font-weight: 500;
}

.slider-text-2 {
  position: absolute;
  top: 45%;
  left: 22%;
  font-size: 15px;
  color: #5ca946;
  font-size: 32px;
  font-weight: 500;
}


/* footer */
.footer-bs {

  bottom: 0;
  width: 100%;
}

.footer-main {
  border-top: 1px solid #00000021;
  padding: 15px;
}

.footer-sub {
  background-color: #662365;
}

p.logo-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5rem;
}

.logo-text {
  font-size: 15px;
}


.footer-logo {
  margin: 0px 0px 25px 0px;
}

.sub-link {
  margin-top: 3rem !important;
}

/*carousel*/
.MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position: relative;

}

.MultiCarousel-title {
  font-size: 25px;
}

.nav-link:focus,
.nav-link:hover {
  color: #5ca946 !important;
}

.title-1 {
  width: 55.666667% !important;
}

.title-2 {
  width: 41.333333% !important;
}

.img-button {
  position: absolute;
  top: 55%;
  left: 53%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  background-color: #5ca946;
  color: white;
}

.img-text {
  position: absolute;
  top: 42%;
  left: 35%;
  font-size: 15px;
  color: #5ca946;
  font-size: 25px;
  font-weight: 500;
  background-color: #5ca946;
  color: white;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
}

.feature-nav {
  justify-content: end;
}

.header-banner {
  text-align: center;
}

/*animaations*/
.shop-btn-1:hover {
  background-color: #662365;
}

.title:hover {
  color: #662365;
}

.slider-button:hover {
  background-color: #662365;
}

.slider1-button:hover {
  background-color: #662365;
}

.img-button:hover {
  background-color: #662365;
}

@keyframes flipRotate {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.service-icon:hover {
  animation: flipRotate 0.5s ease-in-out;
}


.banner .banner-img {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 5;
  padding: 200px;
}



/*form*/
.form-text {
  font-size: 20px;
  text-align: end;
  color: black;
}

.form-text-main {
  font-size: 20px;
  text-align: center;
  color: black;
}

.form-button {
  background-color: #5CA946;
  width: -webkit-fill-available !important;
  color: white;
}

.form-button:hover {
  background-color: #662365;
  color: white;
}

.text-form {
  color: #5CA946;
  font-size: 15px;
}

.text-form-2 {
  color: #5CA946;
  font-size: 15px;
  text-align: end;
}

.text-form:hover {
  color: #662365;
}

.form-main {
  margin-top: 100px;
}

.card-body {
  padding: 30px !important;
}


.card h6 {
  color: black;
  font-size: 20px
}

.inputs input {
  width: 40px;
  height: 40px;
  color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0
}



.card-2 .content {
  margin-top: 50px
}

.card-2 .content a {
  color: #5CA946;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid #5CA946;
}

.validate {
  border-radius: 20px;
  height: 40px;
  background-color: #5CA946;
  border: 1px solid #5CA946;
  width: 140px
}

.background-banner {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 5;
  padding: 100px;
}

/*wishlist*/

.wishlist-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.product-image {
  max-width: 125px;
  height: auto;
}

.originalprice {
  text-decoration: line-through;
  font-size: 15px;
}

.price {
  font-size: 15px;
}

.wishlist-cart {
  font-size: 15px;
  color: black;
}

.wishlist-buy {
  font-size: 15px;
  color: black;
}

.wishlist-buy:hover {
  color: #5CA946;
}

.wishlist-cart:hover {
  color: #5CA946;
}

/*offcanvascart*/
.wishlist-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.btn-remove {
  color: black;
  background-color: #5CA946;
  cursor: pointer;
}

.product-image {
  max-width: 125px;
  height: auto;
}

.originalprice {
  text-decoration: line-through;
}

.cart-add {
  color: black !important;
}

.cart-add:hover {
  color: #5CA946 !important;
}

.cart-buy {
  color: black !important;
}

.cart-buy:hover {
  color: #5CA946 !important;
}

.cart-remove:hover {
  background-color: #662365 !important;
}

/* comobo product */
.text-bold {
  font-weight: 800;
}

.main-img {
  text-align: center;
}

.main-description .category {
  text-transform: uppercase;
  color: #0093c4;
}

.main-description .product-title {
  font-size: 1.5rem;
}

.old-price-discount {
  font-weight: 600;
}

.new-price {
  font-size: 2rem;
}

.details-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  color: #757575;
}

.buttons .block-1 {
  margin-right: 5px;
}

.buttons .block-2 {
  margin-right: 5px;
}

.center-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
}


.custom-btn {
  text-transform: capitalize;
  background-color: #5CA946;
  color: white;
  height: 40px;
  border-radius: 5px;

}

.custom-btn:hover {
  background-color: #662365 !important;
  color: white !important;
}


.quantity-button {
  background-color: #dee2e6;
  border-radius: 20px;
  font-size: 10px;
}

.quantity-button:hover {
  background-color: #b0afaf;
}

.cart-buy {
  background-color: none !important;
  border-color: black;
}

.cart-buy:hover {
  background-color: #5CA946 !important;
  color: white !important;

}





/* breadcrumb */
.hero-breadcrumb  {
  text-align: center;
  list-style: none;
}
 .breadcrumb-list{
  list-style: none;
}
 .breadcrumb-subtext {
  padding-top: 30px;
} 

 .breadcrumb-subtext span {
 font-size: 20px;
 color: black;
 font-weight: 400;
}

 .breadcrumb-text a{
  font-size: 20px;
  color: black;
  font-weight: 400;
  position: relative;
  padding-bottom:0px;
}

.breadcrumb-text a::before {
    content: "|" !important;
    position: absolute;
    bottom: -15px;
    right: 0;
    left: 0;
    height: 15px;

}

.place-order-btn{
  border-color: #5CA946;
  border-radius: 20px;
}

.place-order-btn:hover{
  background-color: #5CA946;

}

.order-icon{
  color: #5CA946;
  font-size: 20px;
}

/* tracking */

.track-line{
  height: 1px !important;
  opacity: 1;
  
}

.dot{ 
  width: 25px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0;
  display: inline-block;
}

.big-dot{
  height: 25px;
  width: 25px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  background-color: #5CA946;
  border-radius: 50%;
  display: inline-block;
  
}

.track-icon{
  font-size: 25px;
  color: #5CA946;
}

.checked{
  color: orange;
}

.bg-icon{
  background-color: #757575;
  border-radius: 25px;
  width: 25px;
  text-align: center;
}
